body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navbar {
  background-color: #333;
  width: 98%;
  color: #fff;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.nav-links a:hover {
  color: goldenrod;
  text-decoration: none;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  color: goldenrod;
}

.cart-icon {
  cursor: pointer;
  color: skyblue;
}

.section {
  padding: 2em;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.product h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.product p {
  font-size: 20px;
  color: #666;
}

.add-to-cart {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: #444;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 40px 0;
  margin-top: 40px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section {
  flex-basis: 30%;
  margin-right: 20px;
}

.footer-section h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

.footer-section p {
  font-size: 14px;
  line-height: 1.5;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease;
}

.footer-section a:hover {
  color: goldenrod;
}

.footer-bottom {
  background-color: #222;
  padding: 20px;
  text-align: center;
  color: #fff;
  font-size: 14px;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
  }
  .footer-section {
    flex-basis: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
